<div id="routers">

<a routerLink="/app" routerLinkActive="active" style=" padding-right:25%; padding-left:10%">home</a>

<a routerLink="/about" routerLinkActive="active" style=" padding-right:25%;">about us</a>


<a routerLink="/album" routerLinkActive="active" >album</a>
</div>

<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->